@font-face {
  font-family: "Montserrat-Medium";
  src: url("fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("fonts/Montserrat-Medium.ttf");
}
body {
  margin: 0;
}
.nav-bar{
  position: fixed;
  width: 100%; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fafafa ;
  height: 42px;
}
ul {
  padding: 11px;
  padding-right: 95px;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #F4F4F4;
  align-content: center;
  position: sticky;
  top: 0;
}
.navbar-element {
  float: right;
  margin-left: 35px;
  line-height: 42px;
  font-family: "Montserrat-Medium";
  color: #757575;
  text-transform: uppercase;
}
.user-profile-pic{
  margin: 3px;
  height: 35px; 
  text-decoration: none;
}
.navbar-element:hover{
  color: #000000;
}
.header-divider {
  border-left:1.5px solid #38546d;
}
.content-holder {
  margin-top: 60px;
  width: 100vw;
  position: absolute;
  z-index: -1;
}
.register-form {
  background-color: #EEEEEE;
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 42px;
  border-width: 2px;
  border-radius: 3px;
}
.register-form label, button, input, h1{
  font-family: "Montserrat-Medium";
  border-radius: 3px;
}
.form-labels {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 6px;
}
.register-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 0;
  border-width: 1px;
  border-color: #E0E0E0;
  border-style: solid;
  clear: both;
  outline:none;
}
.register-form div {
  margin-top: 30px;
}
.register-button {
  background-color: #00C853;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  size: 10px;
  margin-top: 80px;
  border-color: #00C853;
  border-style: solid;
  text-transform: uppercase;
}
  
