.add-post-field {
    z-index: 999;
    position: fixed;
    left: 50%;
    margin: 0 auto 0 -300px;
    height: 600px;
    width: 600px;
    padding: 0;
    visibility: hidden; /*TEMP*/
    opacity: 0;
    transition: 0.3s;
    border-radius: 6px;
    border: 1px solid #FAFAFA;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), .0975);
}

.add-post-field.active {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.start-post-div {
    margin: 35px auto auto;
    width: 480px;
    height: 65px;
    border-radius: 6px;
    border: 1px #f3f3f3 solid;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), .0975);
}

.start-post-div .start-post-icon {
    width: 26px;
    height: auto;
    margin: 20px 20px 20px 30px;
}

.start-post-link {
    text-decoration: none;
    font-family: "Montserrat-Medium", serif;
    font-size: 16px;
    color: #343434;
    line-height: 65px;
}

.create-post-heading {
    height: 50px;
    width: 100%;
    background-color: #FAFAFA;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1.5px #cecdcd solid;
}

.create-post-label {
    font-family: Montserrat-Medium, serif;
    position: relative;
    line-height: 50px;
    display: inline-block;
    margin: 0 0 0 20px;
}

.close-post-img {
    height: auto;
    width: 22px;
    margin: 12px 12px 0 0;
    float: right;
    display: inline-block;
}

.create-post-footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.create-post-buttons {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.add-post-field .create-post-buttons a, button {
    position: relative;
    float: left;
    outline: none;
    line-height: 50px;
    border-top: 1.5px #cecdcd solid;
    font-family: Montserrat-Medium, serif;
    text-align: center;
    height: 50px;
    width: 50%;
}

.save-as-draft-link {
    background: #fefefe;
    border-bottom-left-radius: 6px;
}

.post-link {
    background: #00E676;
    color: white;
    border-bottom-right-radius: 6px;
}

.create-post-user-information {
    height: 60px;
    width: content-box;
    padding: 15px 15px 15px 25px;
}

.create-post-user-information .user-profile-picture {
    width: 80px;
    height: auto;
    line-height: 10px;
}

.user-profile-picture, .user-name-dropdown {
    float: left;
}

.create-post-username {
    margin: 5px 0 5px;
    font-size: 18px;
}

.user-name-dropdown {
    margin: 0 10px 10px 10px;
}

.post-type-select {
    border-radius: 6px;
    border: 1.5px #E0E0E0 solid;
    padding: 2px;
    font-family: Montserrat-Medium, serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
}

.post-type-select > option {
    outline: none;
}

.post-type-select > option:focus, .post-type-select > option:focus {
    outline: 0 !important;
    background: transparent;
}

.post-input {
    width: 98%;
    height: 200px;
    display: block;
    margin: 20px auto 0;
    padding-left: 5px;
    color: black;
    border: 0;
    resize: none;
    outline: none;
    font-family: Montserrat-Medium, serif;
    font-size: 20px;
    float: top;
}