.content {
    height: 100%;
    width: 100%;
}

.main-text {
    font-size: 60px;
    color: #343434;
    margin: 0;
}

.heading-content {
    height: 800px;
    width: 100%;
    background-position: center;
    background-image: url('../photos/home_bg_1.jpg');
    position: absolute;
}
.heading-container .bold{
    color: #0bbcf6;
}

.heading-container {
    margin-top: 100px;
    margin-left: 50px;
}

.about-content {
    width: 100%;
    height: 800px;
    background-position: center;
    background-image: url('../photos/home_bg_2.jpg');
    position: absolute;
    margin-top: 800px;
    border-top: 10px rgba(52, 52, 52, 0.93) solid;
}

.about-container {
    margin-top: 50px;
    margin-left: 50px;
}

.project-text {
    width: 450px;
    margin-left: 14px;
    color: rgba(52, 52, 52, 0.93);
    font-size: 20px;
}

.join-us-button {
    width: 400px;
    height: 60px;
    position: absolute;
    left: calc(50vw - 200px);
    margin-top: 1400px;
    font-family: Montserrat-Medium, serif;
    font-size: 28px;
    text-align: center;
    border-radius: 8px;
    line-height: 60px;
    background-color: #00E676;
    color: white;
    transition: 0.2s;
    box-shadow: 0 0 4px 1px rgba(var(--jb7, 0, 0, 0), .0675);
}

.join-us-button:hover {
    background-color: #04c165;
    transition: 0.2s;
}