.form {
    background-color: #F5F5F5;
    width: 400px;
    margin: 0 auto 0;
    padding: 42px 42px 0;
    border-width: 2px;
    border-radius: 3px;
}

.form label, button, input, h1, p {
    font-family: "Montserrat-Medium", serif;
    border-radius: 3px;
}

.form .form-labels {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 6px;
}

.form input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #E0E0E0;
    font-size: 14px;
    clear: both;
    outline: none;
}

.form div {
    margin-top: 30px;
}

.submit-button {
    background-color: #00C853;
    color: #ffffff;
    width: 100%;
    padding: 10px;
    size: 10px;
    border-color: #00C853;
    border-style: solid;
    text-transform: uppercase;
}


.submit-button:hover {
    background-color: #43A047;
    border-color: #43A047;
}

.signup-submit-button {
    margin-top: 80px;
}

.signin-submit-button {
    margin-top: 50px;
}

.input-form-hint-div {
    height: 50px;
    font-size: 12px;
    display: inline;
    padding: 20px;
}

.form-hint-p {
    text-align: center;
}

.input-error-span p {
    padding-top: 10px;
    margin: 0;
    font-size: 12px;
    color: #B00020;
}

.sign-in-page-content {
    padding-top: 80px;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-image: url('../photos/sign_in_bg.png');
}
