#dimming {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    cursor: pointer;
}

#dimming.deactivated {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.confirm-user-unfollow-popup {
    position: fixed;
    transition: 0.3s;
    opacity: 0;
    width: 350px;
    height: 150px;
    background-color: #fefefe;
    top: 50%;
    z-index: 3;
    left: 50%;
    border: 1px rgba(213, 213, 213, 0.82) solid;
    border-radius: 10px;
    margin-top: -75px;
    margin-left: -175px;
    visibility: hidden;
}

.confirm-user-unfollow-popup.active {
    opacity: 1;
    transition: 0.3s;
    visibility: visible;
}

.confirm-user-unfollow-popup p {
    text-align: center;
    margin-top: 30px;
}

.confirm-user-unfollow-popup .buttons {
    bottom: 0;
    margin-top: 50px;
    border-radius: 0 1em 1em 0 !important;
    border-color: rgba(213, 213, 213, 0.82);
}

.confirm-user-unfollow-popup .buttons .cancel-button, .agree-button {
    float: left;
    height: 50px;
    width: 50%;
}

.confirm-user-unfollow-popup .buttons .agree-button {
    left: 50%;
    background-color: #00E676;
}

.confirm-user-unfollow-popup .buttons .cancel-button {
    border-bottom-left-radius: 10px;
}

.confirm-user-unfollow-popup .buttons .agree-button {
    border-bottom-right-radius: 10px;
}

.confirm-user-unfollow-popup .buttons .agree-button:hover {
    background-color: #00C853;
}

.followers-list, .followings-list {
    position: fixed;
    transition: 0.3s;
    width: 450px;
    height: 450px;
    background-color: #fefefe;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    margin-top: -250px;
    margin-left: -225px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
}

.followers-list.active {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
}

.followings-list.active {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
}

/*.followers-list .follower-info-div h1 {*/
/*    font-size: 36px;*/
/*}*/

.followers-list .follower-info-div {
    padding: 10px;
    border-top: 1px rgba(213, 213, 213, 0.82) solid;
}

.followings-list .followings-info-div {
    padding: 10px;
    border-top: 1px rgba(213, 213, 213, 0.82) solid;
}

.edit-profile-button, .follow-user-button {
    height: 30px;
    width: 100px;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    background-color: #FAFAFA;
    border: 1px solid #cbcbcb;
    display: inline-block;
    margin-left: 20px;
}

.follow-user-button {
    transition: 0.2s;
    cursor: pointer;
}

.followed {
    background-color: #00E676;
    color: #FAFAFA;
    border-color: #00E676;
    transition: 0.2s;
}

.followed:hover {
    background-color: #00c161;
    border-color: #00c161;
}

.followers-list-heading, .followings-list-heading {
    text-align: center;
}

.profile-followers-counter-text a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-family: Montserrat-Medium;
    margin-left: 10px;
    float: right;
}

.main-profile-content .account-type {
    margin-top: 100px;
    font-size: 18px;
    text-align: center;
}
